<!DOCTYPE html>
<html>
    $eCdn.setAppZone('/constructor')
<head>
    #parse('_html-head.vm')
    <title>#t('layout.title.constructor')</title>
</head>
    #set($siteRoute='/tools/area')
<body>
    #parse('_layout-basic-header.vm')
<div class="container">
    <form id="form" method="post" class="form-horizontal form-tools-area-new">
        <div class="control-group">
            <label class="control-label" for="title">#t('page.constructor.newArea.form.title.label')</label>

            <div class="controls">
                <input type="text" id="title" name="title" placeholder="#t('page.constructor.newArea.form.title.placeholder')"
                       class="input-block-level">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">#t('page.constructor.newArea.form.kind.label')</label>

            <div class="controls">
                <select name="kind">
                    <option value="PLANE">#t('page.constructor.newArea.form.kind.plane')</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">#t('page.constructor.newArea.form.geometry_plane.axisX')</label>

            <div class="controls">
                <label class="ux-radio pull-left area-geometry-plain-axisX value-left">
                    <input type="radio" name="geometryPlain.axisX" value="LEFT">
                    <span class="ux-radio-label">#t('page.constructor.newArea.form.geometry_plane.axisX.left')</span>
                </label>
                <label class="ux-radio pull-left area-geometry-plain-axisX value-right">
                    <input type="radio" name="geometryPlain.axisX" value="RIGHT" checked="checked">
                    <span class="ux-radio-label">#t('page.constructor.newArea.form.geometry_plane.axisX.right')</span>
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">#t('page.constructor.newArea.form.geometry_plane.axisY')</label>

            <div class="controls">
                <label class="ux-radio pull-left area-geometry-plain-axisY value-up">
                    <input type="radio" name="geometryPlain.axisY" value="UP">
                    <span class="ux-radio-label">#t('page.constructor.newArea.form.geometry_plane.axisY.up')</span>
                </label>
                <label class="ux-radio pull-left area-geometry-plain-axisY value-down">
                    <input type="radio" name="geometryPlain.axisY" value="DOWN" checked="checked">
                    <span class="ux-radio-label">#t('page.constructor.newArea.form.geometry_plane.axisY.down')</span>
                </label>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">#t('page.constructor.newArea.form.submit')</button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $('#form')
                .append($('<input type="hidden" name="_response" value="json">'))
                .ajaxForm(A.ajaxFormController());
    </script>
</div>
<!-- /container -->
</body>
</html>