<!DOCTYPE html>
<html>
    $eCdn.setAppZone('/constructor')
<head>
    #parse('_html-head.vm')
    <title>#springMessage('layout.title.constructor')</title>
</head>
    #set($siteRoute='/tools')
<body>
    #parse('_layout-basic-header.vm')
<div class="container">
</div>
<!-- /container -->
</body>
</html>