<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">#t('layout.navbar.brand')</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    #if($siteRoute.startsWith('/tools'))
                        <li #if($siteRoute.startsWith("/tools/area"))class="active"#end>
                            <a href="/tools/area"><span>#t('layout.navbar.tools.areas')</span></a>
                        </li>
                    #else
                        #if($eVisitor.logged)
                            <li><a href="/tools" class="switch-navbar-mode">#t('layout.navbar.tools')</a></li>
                        #end
                        <li #if($siteRoute.startsWith("/browse"))class="active"#end><a href="/browse">#t('layout.navbar.browse')</a></li>
                    #end
                </ul>
                #if($eVisitor.logged)
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img class="gravatar s24" src="//gravatar.com/avatar/$eVisitor.user.gravatar?s=24"/>
                                $!escTool.html($eVisitor.user.name)
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="divider"></li>
                                <li><a href="/auth/logout">#t('layout.navbar.logout')</a></li>
                            </ul>
                        </li>
                    </ul>
                #else
                    <ul class="nav pull-right">
                        <li><a href="/auth">#t('layout.navbar.login')</a></li>
                    </ul>
                #end
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
