<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="$cp/">#springMessage('layout.navbar.brand')</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <!--li>
                        <a href="$cp/mission">#springMessage('layout.navbar.mission.label')</a>
                    </li-->
                    <li>
                        <a href="$cp/browse">#springMessage('layout.navbar.browse.label')</a>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    #if($eVisitor.logged)
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img class="gravatar s24" src="//gravatar.com/avatar/$eVisitor.user.gravatar?s=24"/>
                                $!escTool.html($eVisitor.user.name)
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="$cp/constructor">#springMessage('layout.navbar.constructor.label')</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="$cp/auth/logout">#springMessage('layout.navbar.logout.label')</a>
                                </li>
                            </ul>
                        </li>
                    #else
                        <li>
                            <a href="$cp/auth">#springMessage('layout.navbar.login.label')</a>
                        </li>
                    #end
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
