<!DOCTYPE html>
<html>
    $eCdn.setAppZone('/avatars')
<head>
    #parse('shared/html-head.vm')
    <title>#springMessage('LandingPage.title')</title>
</head>
<body id="bodyColumns" class="layout-1-4">
<div class="content">
    <div class="left">
        #set($landingSidebarActiveTab='landingSidebarCommon')
        #parse('_landingSidebar.vm')
    </div>
    <div class="center">
    </div>
</div>
</body>
</html>