<!DOCTYPE html>
<div id="accountBar" class="content">
    <span class="head">Введите адрес почты и пароль</span>

    <form>
        <div class="formRow">
            <input type="text" name="j_username" placeholder="e-mail"/>
        </div>
        <div class="formRow">
            <input type="password" name="j_password" placeholder="пароль"/>
        </div>
        <div class="formRow">
            <input type="submit" value="войти"/>
        </div>
    </form>
</div>