<!DOCTYPE html>
<html>
<head>
    #parse('shared/html-head.vm')
</head>
<body id="bodyColumns" class="layout-1-4">
<div class="content">
    <div class="left">
        <section id="brandLogo">
            <a href="$cp/" title="navigate to landing page"></a>
        </section>
        <section>
            <h1>#springMessage('LandingPage.readyToBegin')</h1>

        </section>
    </div>
    <div class="center">
        #parse('news-column.vm')
    </div>
</div>
</body>
</html>