<!DOCTYPE html>
<html>
<head>
    #parse('shared/html-head.vm')
    <title>#springMessage('LandingPage.title')</title>
</head>
    #parse('_index-macros.vm')
    #parse('shared/form-macros.vm')
<body id="bodyColumns" class="layout-1-4">
<div class="content">
    <div class="left">
        <div id="brandLogo">
            <a href="$cp/" title="navigate to landing page"></a>
        </div>
        <div id="bodyMenu">
            <div class="mini-tabs">
                #bodyCommonMiniTabs()
                <div class="mini-tab-container">
                    <div id="bodyMenuCommon" data-tab="bodyMenuCommon" class="active-tab">
                        <h1>#springMessage('LandingPage.readyToBegin')</h1>
                        #bodyCommonMenuSelector()
                    </div>
                    <div id="bodyMenuAccount" data-tab="bodyMenuAccount">
                        #if($eVisitor.logged)
                            #bodyAccountMenu()
                        #else
                            #bodyAccountMenuEnter()
                        #end
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="center"></div>
</div>
</body>
</html>