#if($eVisitor.logged)
<div id="userColumn">
    <div class="user-title clearfix">
        <img src="http://www.gravatar.com/avatar/$eVisitor.user.gravatar?s=48" width="48" height="48" title="" alt=""/>

        <h2>$eVisitor.user.name</h2>

        <div class="quick-menu">
            <a href="$eCdn.contextPath/auth/logout" class="one-liner">#springMessage('Account.logOut')</a>
            <a href="$eCdn.contextPath/settings" class="one-liner">#springMessage('Account.settings')</a>
        </div>
    </div>
    <hr/>
    <div class="widget">
        <div class="head">
            <ul class="quick-actions">
                <li>
                    <a href="$eCdn.contextPath/i/world">весь список</a>
                </li>
            </ul>
            <h3>Избранные миры</h3>
        </div>
    </div>
    <hr/>
    <div class="widget">
        <div class="head">
            <ul class="quick-actions">
                <li>
                    <a href="$eCdn.contextPath/i/avatar">весь список</a>
                </li>
            </ul>
            <h3>Избранные аватары</h3>
        </div>
    </div>
</div>
#else
<div>
    <form method="post" action="$eCdn.contextPath/auth">
        <div class="formRow">
            <input type="email" name="j_username" placeholder="#springMessage('LoginForm.email.placeholder')"/>
        </div>
        <div class="formRow">
            <input type="password" name="j_password" placeholder="#springMessage('LoginForm.password.placeholder')"/>
        </div>
        <div class="formRow">
            <input type="submit" value="#springMessage('Account.logIn')"/>
        </div>
    </form>
</div>
#end
