#if($eVisitor.logged)
<div id="userColumn">
    <div class="user-title clearfix">
        <img src="http://www.gravatar.com/avatar/$eVisitor.user.gravatar?s=48" width="48" height="48" title="" alt=""/>

        <h2>$eVisitor.user.name</h2>

        <div class="quick-menu">
            <a href="$eCdn.contextPath/auth/logout">#springMessage('Auth.logOut')</a>
        </div>
    </div>
    <hr/>
</div>
#else
<div>
    <form method="post" action="$eCdn.contextPath/auth">
        <div class="formRow">
            <input type="email" name="j_username" placeholder="#springMessage('Auth.form.email.placeholder')"/>
        </div>
        <div class="formRow">
            <input type="password" name="j_password" placeholder="#springMessage('Auth.form.password.placeholder')"/>
        </div>
        <div class="formRow">
            <input type="submit" value="#springMessage('Auth.logIn')"/>
        </div>
    </form>
</div>
#end
