<!DOCTYPE html>
<html>
    $eCdn.setAppZone('/my/worlds')
<head>
    #parse('shared/html-head.vm')
    <title>#springMessage('MyWorldsPage.title')</title>
</head>
    #parse('_index-macros.vm')
#* @vtlvariable name="worldList" type="java.util.List<waypalm.domain.entity.World>" *#
<body id="bodyColumns" class="layout-1-4">
<div class="content">
    <div class="left">
        #landingSidebar('landingSidebarAccount')
    </div>
    <div class="center">
        <div class="section content">
            #if($worldList.empty)
                <p>#springMessage1('MyWorldList.emptyNotice', $cp)</p>
            #else
                #if($eVisitor.worldCreateAvailable)
                    <p>#springMessage1('MyWorldList.canOwnMore', $cp)</p>
                #end
                <ul>
                    #foreach($world in $worldList)
                        <li><a href="$cp/w/$world.slug">$escTool.html($world.title)</a></li>
                    #end
                </ul>
            #end
        </div>
    </div>
</div>
</body>
</html>