<!DOCTYPE html>
<html>
    $eCdn.setAppZone('/my/worlds')
<head>
    #parse('_html-head.vm')
    <title>#t('MyWorldsPage.title')</title>
</head>
#* @vtlvariable name="worldList" type="java.util.List<waypalm.domain.entity.World>" *#
<body id="bodyColumns" class="layout-1-4">
<div class="content">
    <div class="left">
        #set($landingSidebarActiveTab='landingSidebarAccount')
        #parse('_landingSidebar.vm')
    </div>
    <div class="center">
        <div class="section content">
            #if($worldList.empty)
                <p>#tn('MyWorldList.emptyNotice', [$cp])</p>
            #else
                #if($eVisitor.worldCreateAvailable)
                    <p>#tn('MyWorldList.canOwnMore', [$cp])</p>
                #end
                <div class="float-list">
                    #foreach($world in $worldList)
                        <a href="$cp/w/$world.slug" class="world-thumb float-list-item">
                            <label>
                                <h3>$escTool.html($world.title)</h3></label>
                            <img src="$cp/static/theme/images/content/world-320-256.png" title=""/>
                        </a>

                        <a href="$cp/w/$world.slug" class="world-thumb float-list-item">
                            <label>
                                <h3>$escTool.html($world.title)</h3></label>
                            <img src="$cp/static/theme/images/content/world-320-256.png" title=""/>
                        </a>
                    #end
                </div>
            #end
        </div>
    </div>
</div>
</body>
</html>