<!DOCTYPE html>
<html>
    $eCdn.setAppZone('/constructor')
<head>
    #parse('_html-head.vm')
    <title>#springMessage('layout.title.constructor')</title>
</head>
<body>
    #parse('_layout-basic-header.vm')
<div class="container">
    <h3>#springMessage("constructor.selectEntityToCreate")</h3>
    <ul>
        <li>
            <a href="$cp/constructor/surface">New Surface</a>
        </li>
    </ul>
</div>
<!-- /container -->
</body>
</html>