<!DOCTYPE html>
<html>
    $eCdn.setAppZone('/constructor')
<head>
    #parse('_html-head.vm')
    <title>#springMessage('layout.title.constructor')</title>
</head>
<body>
    #parse('_layout-basic-header.vm')
<div class="container">
    <ul class="wizard-steps">
        <li><a class="step step-1 passed" href="$cp/constructor">#springMessage("constructor.firstWizard.stepLabel")</a></li>
        <li><a class="step step-2 enabled" data-wizard-page="2">#springMessage("constructor.planeWizard.stepTitle")</a></li>
        <li><a class="step step-3 disabled" data-wizard-page="3">#springMessage("constructor.planeWizard.stepGeometry")</a></li>
    </ul>

    <form id="wizard">
        <div data-wizard-page="1">
            <input type="text" name="title"/>
        </div>
        <div data-wizard-page="2"></div>
    </form>
</div>
<!-- /container -->
</body>
</html>