#* @vtlvariable name="world" type="waypalm.domain.entity.World" *#
#* @vtlvariable name="worldSurfaceList" type="java.util.List<waypalm.domain.entity.Surface>" *#
#* @vtlvariable name="worldPageSidebarActiveTab" type="java.lang.String" *#
<div id="brandLogo">
    <a href="$cp/" title=""></a>
</div>
<div id="bodyMenu">
    <div class="mini-tabs">
        <div class="mini-tab-navigator">
            <div class="grid-3">
                <div class="content">
                    <div class="cell-1">
                        <a href="#" data-tab="landingSidebarCommon">
                            #springMessage('brandMenu.menu')
                        </a>
                    </div>
                    <div class="cell-1">
                        <a href="#" data-tab="landingSidebarHelp">
                            #springMessage('brandMenu.help')
                        </a>
                    </div>
                    <div class="cell-1">
                        <a href="#" data-tab="landingSidebarWorld">
                            #springMessage('brandMenu.world')
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mini-tab-container">
            <div id="landingSidebarCommon" data-tab="landingSidebarCommon"
                 #if($worldPageSidebarActiveTab=='landingSidebarCommon')class="active-tab"#end>

                <h1>#springMessage('LandingPage.readyToBegin')</h1>
                <ul class="option-selector">
                    <li #if($eCdn.appZone.equals('/worlds'))class="current"#end>
                        <a href="$cp/worlds">#springMessage('commonMenu.worlds')
                            #if($eSummary.worldCount>0)<span class="note">$eSummary.worldCount</span>#end
                        </a></li>
                    <li #if($eCdn.appZone.equals('/avatars'))class="current"#end>
                        <a href="$cp/avatars">#springMessage('commonMenu.avatars')
                            #if($eSummary.avatarCount>0)<span class="note">$eSummary.avatarCount</span>#end
                        </a></li>
                </ul>
            </div>

            <div id="landingSidebarHelp" data-tab="landingSidebarHelp"
                 #if($worldPageSidebarActiveTab=='landingSidebarHelp')class="active-tab"#end>
            </div>

            <div id="landingSidebarWorld" data-tab="landingSidebarWorld"
                 #if($worldPageSidebarActiveTab=='landingSidebarWorld')class="active-tab"#end>

                #if($eCan.controlWorld($world))
                    <div class="section">
                        <h1 class="section-head">#springMessage('WorldPage.sidebar.controlSection.title')</h1>
                        <ul class="option-selector">
                            <li #if($eCdn.appZone.equals('/w/manage/details'))class="current"#end>
                                <a href="$cp/manage/w/$world.slug/details">#springMessage('WorldPage.sidebar.controlSection.details')</a>
                            </li>
                            <li #if($eCdn.appZone.equals('/w/manage/publishing'))class="current"#end>
                                <a href="$cp/manage/w/$world.slug/publishing">#springMessage('WorldPage.sidebar.controlSection.publishing')</a>
                            </li>
                            #if($eCdn.appZone.startsWith('/w/manage/'))
                                <li>
                                    <a href="$cp/w/$world.slug">#springMessage('WorldPage.sidebar.controlSection.worldPage')</a>
                                </li>
                            #end
                        </ul>
                    </div>
                #end
                #if(!$worldSurfaceList.empty)
                    <div class="section">
                        <h1 class="section-head">#springMessage('WorldPage.sidebar.surfaceSection.title')</h1>
                        <ul class="option-selector">
                            #foreach($surface in $worldSurfaceList)
                                <li>$escTool.html($surface.title)</li>
                            #end
                        </ul>
                    </div>
                #end
            </div>
        </div>
    </div>
</div>
