<!DOCTYPE html>
<html>
    #parse('shared/html-head.vm')
<body class="sci">
<header class="sci-header">
    <div id="logoBar">
        #parse('shared/html-bars-brand.vm')
    </div>
    <div id="breadcrumbBar">
        <h1>/ #springMessage('CreateNewWorld.breadcrumb')</h1>
    </div>
</header>
<div id="bodyColumns" class="layout-0-7-3">
    <div class="content">
        <div class="left"></div>
        <div class="center">
            <form id="form" action="$cp/my/new/world" method="post">
                <div class="formRow vgrid12">
                    <div class="vcell4 text-at-end">
                    </div>
                    <div class="vcell8">
                        <label>#springMessage('CreateNewWorld.form.title')</label>

                        <div class="full-input-outer">
                            #springFormInput('form.title', 'class="validate-good"')
                        </div>
                    </div>
                </div>
                <div class="formRow vgrid12">
                    <div class="vcell4"></div>
                    <div class="vcell8">
                        <input type="submit" class="btn btn-green" value="#springMessage('form.create')"/>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
                UI.ajaxForm('#form', function (data) {
                    // on success
                    document.location = "$cp/w/" + data.entity.id;
                }, function () {
                    // on failure
                });
            </script>
        </div>
        <div class="right"></div>
    </div>
</div>
</body>
</html>