<!DOCTYPE html>
<html>
    $eCdn.setAppZone('/w/manage/details')
<head>
    #parse('shared/html-head.vm')
#* @vtlvariable name="world" type="waypalm.domain.entity.World" *#
    <title>#springMessage1('ManageWorldDetails.title', $escTool.html($world.title))</title>
</head>
<body id="bodyColumns" class="layout-1-4">
<div class="content">
    <div class="left">
        #set($worldPageSidebarActiveTab='landingSidebarWorld')
        #parse('world/_worldPageSidebar.vm')
    </div>
    <div class="center">
        <div class="content">
            <h1>$escTool.html($world.title)</h1>

            <div class="section">
            </div>
        </div>
    </div>
</div>
</body>
</html>