<!DOCTYPE html>
<html>
    $eCdn.setAppZone('/w/manage/surfaces')
<head>
    #parse('shared/html-head.vm')
#* @vtlvariable name="world" type="waypalm.domain.entity.World" *#
#* @vtlvariable name="surfaceGeometryList" type="waypalm.domain.entity.SurfaceGeometry[]" *#
#* @vtlvariable name="surfaceOrientationList" type="waypalm.domain.entity.SurfaceOrientation[]" *#
    <title>#springMessage1('CreateWorldSurface.title', $escTool.html($world.title))</title>
</head>
<body id="bodyColumns" class="layout-1-4">
<div class="content">
    <div class="left">
        #set($worldPageSidebarActiveTab='landingSidebarWorld')
        #parse('world/_worldPageSidebar.vm')
    </div>
    <div class="center">
        <div class="content">
            <div class="section content">
                <form id="form" action="#routeCreateWorldSurface($world)" method="post">
                    <div class="form-field">
                        #formFieldLabel(true, 'CreateWorldSurface.form.title', '')
                        <div class="full-width-input">
                            #springFormInput('form.title', 'class="validate-good"')
                        </div>
                    </div>
                    <div class="form-field">
                        #formFieldLabel(false, 'CreateWorldSurface.form.alias', '')
                        <div class="full-width-input">
                            #springFormInput('form.alias', 'class="validate-good"')
                        </div>
                    </div>
                    <div class="form-field">
                        #formFieldLabel(true, 'CreateWorldSurface.form.geometry', '')
                        <div>
                            <select id="geometry" name="geometry" class='validate-good'>
                                #foreach($option in $surfaceGeometryList)
                                    <option value="$option">#springMessage("SurfaceGeometry.$option")</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-field">
                        #formFieldLabel(true, 'CreateWorldSurface.form.plainOrientation', '')
                        <div>
                            <select id="plainOrientation" name="plainOrientation" class='validate-good'>
                                #foreach($option in $surfaceOrientationList)
                                    <option value="$option">#springMessage("SurfaceOrientation.$option")</option>
                                #end
                            </select>
                        </div>
                    </div>
                    <div class="form-submit clearfix">
                        <div class="pull-left">
                            <input type="submit" class="btn-green" value="#springMessage('form.create')"/>
                        </div>
                        <div class="pull-right">
                            #springMessage('form.requiredNotice')
                        </div>
                    </div>
                </form>
                <script type="text/javascript">
                    UI.ajaxForm('#form', function (data) {
                        // on success
                        document.location = "$cp/manage/w/$world.slug/surfaces";
                    }, function () {
                        // on failure
                    });
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>