<!DOCTYPE html>
<html>
    $eCdn.setAppZone('/w/manage/surfaces')
<head>
    #parse('shared/html-head.vm')
#* @vtlvariable name="world" type="waypalm.domain.entity.World" *#
#* @vtlvariable name="surfaceList" type="java.util.List<waypalm.domain.entity.Surface>" *#
    <title>#springMessage1('ManageWorldSurfaces.title', $escTool.html($world.title))</title>
</head>
    #parse('_index-macros.vm')
    #parse('world/_world-macros.vm')
<body id="bodyColumns" class="layout-1-4">
<div class="content">
    <div class="left">
        #worldPageSidebar('landingSidebarWorld')
    </div>
    <div class="center">
        <div class="content">
            <h1>$escTool.html($world.title)</h1>

            <div class="section">
                <a class="btn lower btn-green" href="#routeCreateWorldSurface($world)">define new surface</a>
            </div>

            <table>
                <head>
                    <tr>
                        <th>Title</th>
                        <th>Alias</th>
                        <th>Geometry</th>
                        <th style="padding:.5em;">Default?</th>
                        <th style="padding:.5em;">Hidden?</th>
                    </tr>
                </head>
                <body>
                    #foreach($surface in $surfaceList)
                    <tr>
                        <td>$escTool.html($surface.title)</td>
                        <td>$!escTool.html($surface.alias)</td>
                        <td>#springMessage("SurfaceGeometry.$surface.geometry.geometry")</td>
                        <td style="text-align: center;">
                            <form action="$cp/manage/w/$world.slug/setSurfaceMain">
                                <input type="hidden" name="surface" value="$surface.id"/>
                                <input type="checkbox" class="flag-toggle" name="flag"
                                       #if($surface.main)checked="checked" #end/>
                            </form>
                        </td>
                        <td style="text-align: center;">
                            <form id="$eCdn.nextCid" action="$cp/manage/w/$world.slug/setSurfaceHidden" method="post">
                                <input type="hidden" name="surface" value="$surface.id"/>
                                <label class="flag-toggle">
                                    <input type="checkbox" name="flag" #if($surface.hidden)checked="checked" #end/>
                                    <span class="flag-indicator"><span class="off">no</span><span class="on">yes</span></span>
                                </label>
                            </form>
                            <script type="text/javascript">
                                var fid = "$eCdn.cid", form = $('#' + fid), option = $('input[type=checkbox]', form);
                                form.ajaxForm({
                                    error:function (status, xhr) {

                                    },
                                    success:function (data, status, xhr, form) {
                                        option.parent().toggleClass('checked');
                                    }
                                });
                                option.change(function () {
                                    form.submit();
                                });
                            </script>
                        </td>
                        <td class="row-flyout">
                            <ul class="hmenu">
                                <li class="menu-item">
                                    <a href="$cp/manage/w/$world.slug/$surface.slug/god" title="define surface">
                                        enter god mode</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    #end
                </body>
            </table>
        </div>
    </div>
</div>
</body>
</html>