<!DOCTYPE html>
<html>
    $eCdn.setAppZone('/w')
<head>
    #parse('shared/html-head.vm')
#* @vtlvariable name="world" type="waypalm.domain.entity.World" *#
#* @vtlvariable name="worldPublishing" type="waypalm.domain.entity.WorldPublishing" *#
    <title>#springMessage1('WorldPage.title', $escTool.html($world.title))</title>
</head>
<body id="bodyColumns" class="layout-1-4">
<div class="content">
    <div class="left">
        #set($worldPageSidebarActiveTab='landingSidebarWorld')
        #parse('world/_worldPageSidebar.vm')
    </div>
    <div class="center">
        <div class="content">
            <h1>$escTool.html($world.title)
                #if($worldPublishing.publisherTitle != '')
                    <span class="secondary">
                        #springMessage1('WorldPage.worldTitle.secondary', $escTool.html($worldPublishing.publisherTitle))
                    </span>
                #end
            </h1>
        </div>
    </div>
</div>
</body>
</html>