<!DOCTYPE html>
<html>
    $eCdn.setAppZone('/w')
<head>
    #parse('shared/html-head.vm')
#* @vtlvariable name="entity" type="waypalm.domain.entity.World" *#
    <title>#springMessage1('WorldPage.title', $escTool.html($entity.title))</title>
</head>
    #parse('_index-macros.vm')
    #parse('world/_world-macros.vm')
<body id="bodyColumns" class="layout-1-4">
<div class="content">
    <div class="left">
        #set($world=$entity)
        #worldPageSidebar('landingSidebarWorld')
    </div>
    <div class="center">
        <div class="content">
            <h1>$escTool.html($entity.title)
                #if(!$entity.publisherTitle.empty)
                    <span class="secondary">
                        #springMessage1('WorldPage.worldTitle.secondary', $escTool.html($entity.publisherTitle))
                    </span>
                #end
            </h1>

            <p>$escTool.html($entity.memo)</p>

            <ul class="hmenu">
                #if(!$entity.publisherUrl.empty)
                    <li class="menu-item">
                        <a href="$entity.publisherUrl" target="_blank">#springMessage('WorldPage.visitHomepage')</a>
                    </li>
                #end
                #if($eVisitor.logged)
                    <li class="menu-item">
                        <a href="">#springMessage('WorldPage.favourite')</a>
                    </li>
                #end
            </ul>

        </div>
    </div>
</div>
</body>
</html>