<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <task:annotation-driven/>

    <context:annotation-config/>
    <context:property-placeholder location="classpath:/waypalm-site.properties"/>

    <import resource="classpath:/waypalm-site-beans.xml"/>

    <!-- security -->
    <security:http pattern="/static/**/*" security="none"/>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider user-service-ref="principalProvider">
            <security:password-encoder ref="passwordEncoder">
                <security:salt-source ref="passwordSalter"/>
            </security:password-encoder>
        </security:authentication-provider>
        <security:authentication-provider ref="oauthAuthenticationProvider"/>
    </security:authentication-manager>

    <security:http auto-config="true" use-expressions="true">
        <security:intercept-url pattern="/i" access="isAuthenticated()"/>

        <security:logout logout-success-url="/" logout-url="/auth/logout"/>

        <security:form-login login-page="/auth" default-target-url="/"/>

        <security:openid-login user-service-ref="principalProvider">
            <security:attribute-exchange>
                <security:openid-attribute name="email" type="http://schema.openid.net/contact/email" required="true"
                                           count="1"/>
                <security:openid-attribute name="axEmail" type="http://axschema.org/contact/email/"/>
                <security:openid-attribute name="axFirstname" type="http://axschema.org/namePerson/first"/>
                <security:openid-attribute name="axLastname" type="http://axschema.org/namePerson/last"/>
            </security:attribute-exchange>
        </security:openid-login>

        <security:custom-filter ref="oauthAuthenticationFilter" before="ANONYMOUS_FILTER"/>
        <security:remember-me user-service-ref="principalProvider" services-alias="rememberMeServices"/>
    </security:http>

    <bean id="oauthAuthenticationFilter" class="waypalm.site.web.mvc.oauth.OAuthAuthenticationFilter"
          p:authenticationManager-ref="authenticationManager"
          p:rememberMeServices-ref="rememberMeServices"/>
    <bean id="oauthAuthenticationProvider" class="waypalm.site.web.mvc.oauth.OAuthAuthenticationProvider"
          p:userDetailsService-ref="principalProvider"/>

    <bean class="org.springframework.social.connect.support.ConnectionFactoryRegistry">
        <property name="connectionFactories">
            <list>
                <bean class="org.springframework.social.facebook.connect.FacebookConnectionFactory">
                    <constructor-arg value="${setup.social.connect.facebook.clientId}"/>
                    <constructor-arg value="${setup.social.connect.facebook.clientSecret}"/>
                </bean>
                <bean class="org.springframework.social.twitter.connect.TwitterConnectionFactory">
                    <constructor-arg value="${setup.social.connect.twitter.consumerKey}"/>
                    <constructor-arg value="${setup.social.connect.twitter.consumerSecret}"/>
                </bean>
            </list>
        </property>
    </bean>
</beans>