#* @implicitly included *#
#* @velocityproperties path="../resources/waypalm-site-velocity.properties" runtime_root="../webapp/WEB-INF/velocity" *#
#* @vtlvariable name="eCdn" type="waypalm.site.web.extensions.CdnExtension" *#
#* @vtlvariable name="eVisitor" type="waypalm.site.web.extensions.VisitorExtension" *#
#* @vtlvariable name="eViewMeta" type="waypalm.site.web.extensions.ViewMetaExtension" *#
#* @vtlvariable name="eCan" type="waypalm.site.web.extensions.CanExtension" *#
