@white:#fff;
@black: #000;
@grayDark: lighten(@black, 25%);
@gray: lighten(@black, 50%);
@grayLight: lighten(@black, 75%);
@grayLighter: lighten(@black, 90%);
@blue: rgb(18,169,240);
@blueDark: #0064CD;
@black: rgb(0,0,0);
@yellow: rgb(211,240,33);
@orange:#f89406;
@green:#008000;

@basefamily: arial, sans-serif;
@basefont: 13px;
@baseline: 18px;
@color: #222;

@h_color: @color;

@gridColumnWidth: 100px;
@gridGutterWidth: 5px;

/*@background: #000;*/
@background: #FDFDFD;
@body_min_width: 1280px;
@body_min_height: 320px;
@body_background: #FFF;

@bodymenu_width:250px;

@footer_height: 0;

// TOP BAR
@header_height: 34px;
@topbar_back: #D3D3D3;

@button-fontsize: 13px;
@button-height: 30px;
