@import "../bootstrap/less/mixins.less";

body {
     font-family: Arial,sans-serif;

    >.container {
        padding-bottom: 40px;
        >#footer {
            position: absolute;
            bottom:0;
            height: 32px;
        }
    }
}

a#auth-welcome {
    font-weight: bold;
    text-decoration: underline;
    /*font-style: italic;*/
    color: white;
}

.navbar .nav .dropdown-toggle .caret,
.navbar .nav .open.dropdown .caret {
    border-top-color: #000000;
}

.navbar .nav .btn-group.open > .dropdown-toggle,
.navbar .nav .btn-group.active > .dropdown-toggle,
.navbar .nav .btn-group.open.active > .dropdown-toggle
{
    background-color: #FAFAFA;
}

.error-disclaimer {
    width: 80%;
    margin: 0 auto;
}

.error-disclaimer > h1 {
    margin: 30px 0 5px;
}

.login-variants {
    >h1 {
        color: rgba(70,130,180, .5);
        margin: 9px auto;
    }
    .login-variant {
        >h2{
            color: white;
            font-size: 14px;
            text-shadow: -1px 1px 1px rgba(55, 55, 55, 0.8);
            text-indent: 10px;
            background: #4682B4;
            border-radius: 3px 3px 0 0;
        }
        .well {
            border-radius: 0;
            form {
                margin-bottom: 0;
            }
        }
    }
}

ul.inline {
    text-align: center;
    margin-bottom: 0;
    >li{
        display: inline-block;
    }
}

input.auth-provider-invoke.x48,
.btn.auth-provider-invoke.x48
{
    line-height: 48px;
    width: 48px;
    height: 48px;
    background: transparent url(img/socials-48.png) no-repeat 48px 48px;
    border: none;
    border-radius: 10px;
    text-indent: -9999px;
    .box-shadow(none);
    .transition(none);
    &:focus {
      border-color: rgba(82,168,236,.8);
      @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
      .box-shadow(@shadow);
    }
    &.facebook {
        background-position: 0 0;
    }
    &.twitter {
        background-position: 0 -96px;
    }
    &.google {
        background-position: 0 -48px;
    }
    &.yandex {
        background-position: 0 -144px;
    }
}