a#auth-welcome {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    color: white;
}

.navbar .nav > .gamer-label > span {
    padding: 10px 0 11px 10px;
    line-height: 19px;
    color: white;
    float: none;
    display: block;

    &.narrow {
        padding-left: 0;
        padding-right: 0;
    }
}