#* @vtlvariable name="form" type="waypalm.site.model.constructor.CreateAreaForm" *#
<div>
    #if($form.kind == "PLANE")#set($setup =  $form.geometryPlain)
        #set($previewCode = "${setup.axisX}-${setup.axisY}")
        <img alt="" title="" src="$eCdn.contextPath/static/theme/img/constructor/preview.plane.${previewCode}.png"/>
    #end
</div>