html.edit-geometry {
    height: 100%;

    > body {
        height: 100%;
        overflow: hidden;

        > #rightPane {
            height: 100%;
        }
    }

    #godSurfaceTools {
        width: 300px;
        height: 100%;

        > div {
            overflow: auto;
            position: absolute;
            top: 25px;
            left: 0;
            bottom: 0;
            width: 299px;

            ul.labels {
                li {
                    padding: 0 5px;
                    clear: both;
                }
                label {
                    display: block;
                    float:left;
                    width: 80px;
                    line-height: @baseLineHeight;
                    font-size: @baseFontSize;
                    margin:0;
                }
                span {
                    line-height: @baseLineHeight;
                    font-weight: bold;
                    font-size: @baseFontSize;
                }
            }
        }

        #god-tool-surface-view-controls {
        }

        #god-tool-surface-tile-current {
            .tile-thumb {
                display: block;
                margin: 5px auto;
                background: #E0E0E0;
                border:solid 5px #999999;
            }
            .btn-toolbar {
                text-align: center;
            }
            &.has-tile-thumb #god-tool-surface-tile-current-clear {
                display: inherit;
            }
        }
    }

    #geometryCanvasOuter {
        position: absolute;
        left: 0;
        top: 0;
        right: 300px;
        height: 100%;
    }

    div.gazap-widget-plain-map-embedded{
        display: block;
        width: 100%;
        height: 100%;
        background: #fdfdfd;

        > .gazap-widget-plain-map-image-layer {
            > .gazap-widget-plain-map-image-layer-target {
                background: rgba(0, 255,0,100);
            }
        }
    }
}

