@import "_config.less";

@import "bootstrap/mixins.less";
@import "bootstrap/reset.less";
@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
@import "bootstrap/alerts.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";

.clear {
    float:none;
    clear: both;
}
.hidden {
    display: none;
}
.pull-right {
    float: right;
}

a,
a:visited {
    text-decoration: underline;
    color: #555;
    cursor:pointer;
    &:hover,
    &:focus {
        color: #000;
    }
}

@import "_mixin.less";
@import "icons.less";
@import "menu.less";
@import "layout-single.less";
