body {
     font-family: @baseFontFamily;
     background: @bodyBackground;
}

body {
    position: relative;
    min-width: 780px;
    #leftPane {
        position: absolute;
        top: 0;
        left: 5px;
        width: 250px;
    }
    #navPane {
        padding:  4px;
        .btn-toolbar{
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    #mainColumn {
        margin-left: 270px;
        padding-top: 0;
        >.error-disclaimer{
            >h1{
                position: relative;
                .brand-face();
            }
        }
    }
    #fastSearch {
    }
}

.input-append .btn {
    border-radius: 0 4px 4px 0;
}

.input-append input {
    border-right: none;
}

.columns-4 {
    >.column {
        float:left;
        width:25%;
    }
}

.fancybox-wrap {
    top: 0 !important;
    .fancybox-close {
        display: none !important;
    }
}

form {
    .progress-element {
        display: none;
    }
    &.submit-in-progress {
        .progress-element {
            display: inline-block;
        }
        .static-element {
            display: none;
        }
    }
    .control-group.mandatory {
        >.control-label:before {
            content: "*";
            color: @errorText;
            padding-right: 5px;
            font-weight: bold;
        }
    }
    .control-group.sub-group{
        margin-left: 100px;
    }
}

#brandBar {
    width: 100%;
    margin-top: 5px;
    text-align: left;
    background: #555;
    border-radius: 5px 5px 0 0;
    border-top: solid 1px #999;
    border-right: solid 1px #999;
    border-left: solid 1px #999;

    > .btn-toolbar {
        padding: 0 5px;
    }

    a.brand-logo {
        display: inline-block;
        width:160px;
        text-align: right;
        .brand-face();
    }
    &.brand-menu{
        .btn-toolbar {
            margin-top: 0;
            margin-bottom: 0;
        }
        .btn-group {
            top: 3px;
            left: 15px;
            margin:0;
            padding:0;
        }
    }
}

#accountBar {
    width: 100%;
    text-align: center;
    background: #666;
    border-radius: 0 0 5px 5px;
    border-bottom: solid 1px #999;
    border-right: solid 1px #999;
    border-left: solid 1px #999;
    padding: 4px 0;

    >h3 {
        font-size: 12px;
        line-height: 14px;
        color: #f5f5f5;
    }
    >span {
        font-size: 12px;
        line-height: 14px;
        color: #f5f5f5;
        a {
            font-style: italic;
            font-weight: bold;
            color: #fff;
        }
    }

    &.logged-true {
        >.account-name {
            text-align: start;
            >.username {
                font-size: 13px;
                line-height: 16px;
                margin-left: 4px;
                > img {
                    position: relative;
                    top: 0;
                }
                > span {
                    padding-left: 4px;
                }
            }

            >a.username {
                text-decoration:none;
                color: #fff;
            }
        }

        >.account-menu {
            text-align: left;

            >.opener {
                position: relative;
                margin-top: -20px;
                float:right;
            }

            a.toggler {
                margin: 3px 5px 0 0;
            }
            a.toggler .collapse {
                display: none;
            }

            >.menu-column {
                display: none;
                float:left;
                width: 50%;
                margin: 4px 0 0;
                >li{
                    border-top: solid 1px #f5f5f5;
                    background: #eee;
                    text-align: center;
                    >a {
                        color: #555;
                        font-weight: bold;
                        font-size: 90%;
                        padding-left: 3px;
                        padding-right: 3px;
                        text-decoration: underline;
                    }
                }
            }
            &.expanded {
                >.menu-column {
                    display: block;
                }

                a.toggler {
                    margin-top: 4px;
                }
                a.toggler .collapse {
                    display: block;
                }
                a.toggler .expand {
                    display: none;
                }
            }
        }
    }
}

.small-modal-dialog {
    width: 400px;
    background:white;
    border-radius: 0 0 5px 5px;
    >h1 {
        color: white;
        text-shadow: -1px 1px 1px rgba(55, 55, 55, 0.8);
        padding: 10px 10px 5px;
        background: #4682B4;
        >.notice {
            display: block;
            font-size: 12px;
            line-height: 20px;
            text-align: right;
            padding: 5px 10px;
            a,
            a:visited,
            a:hover,
            a:focus {
                color: white;
            }
        }
     }
     > p.notice {
        padding: 5px 10px;
        font-size: @baseFontSize * .8;
        line-height: @baseLineHeight * .8;
        margin-bottom: 0;
        text-align: center;
     }
     >div {
        padding: 0 10px 10px;
        >form {
            margin-bottom:0;
            margin-top: 10px;
            >.control-group{
                padding-bottom: 5px;
                margin: 0 auto;
                width: 250px;
                input {
                    width: 90%;
                }
            }
            >.alert {
                margin-bottom: 0;
                margin-top: 5px;
                >ul {
                    margin-bottom: 0;
                }
            }
            .submit-option {
                margin-left: 5px;
            }
            >.alert-progress {
                display: none;
            }
            &.submit-in-progress {
                >.alert-progress {
                    display: inherit;
                }
                >.submit-group {
                    display: none;
                }
            }
        }
    }
}

#modalLogin {
    >div.by-social {
        background: #F5F5F5;
        border-top: solid 1px #F5F5DC;
        border-radius: 0 0 5px 5px;
        padding-top:10px;
        >.welcome {
            line-height: 26px;
        }
        >ul.auth-list{
            margin:0;
            display:inline;
            margin-left: 3px;
            li {
                display:inline-block;
                margin-left: 3px;
                a {
                    float:none;
                }
            }
        }
    }
}

a.auth-provider-invoke.x26
{
    display: inline-block;
    line-height: 26px;
    width: 26px;
    height: 26px;
    background: transparent url(../img/socials-26.png) no-repeat 26px 26px;
    border: none;
    border-radius: 1px;
    color: transparent;
    &:focus,
    &:hover {
        box-shadow: 0 0 3px rgba(82,168,236,.8);
    }
    &.facebook {
        background-position: 0 0;
    }
    &.twitter {
        background-position: 0 -52px;
    }
    &.google {
        background-position: 0 -26px;
    }
    &.yandex {
        background-position: 0 -78px;
    }
}

#registerForm {
    #recaptchaContainer{
        width: 320px;
        height: 130px;
        margin: 0 auto;
        padding-bottom: 10px;
        p.wait-message {
            width: 100%;
            text-align: center;
            padding-top: 50px;
        }
    }
}

#mainColumn {
    section{
        > .section-header-form {
            color:#3A87AD;
            padding: 0 4px 4px;
            form {
                .border-radius(0 0 4px 4px);
                background: @sectionHeaderFormBackground;
                margin:0;
                >h1 {
                    font-size: 20px;
                    padding: 0 10px;
                }
                .control-group {
                    text-align: center;
                    .controls input {
                        margin-bottom: 0;
                        width: 80%;
                    }
                }
                .submit-group {
                    text-align: right;
                    padding: 0 4px 4px;
                    margin-bottom: 0;
                }
                .alert {
                    margin-bottom: 0;
                }
            }
        }
    }

    >.form-container{
        >h1 {
            padding: 10px;
        }
    }

    form.width-medium {
        width: 500px;
        input {
            width: 330px;
        }
        .control-group.sub-group {
            input {
                width: 200px;
            }
        }
    }

    form.non-modal {
        .form-actions {
            margin-bottom: 0;
        }
    }
}

.breakword {
    word-wrap: break-word;
}

ul.list{
    padding: 0;
    margin: 0;
    list-style:none;
    > li {
        text-indent: none;
        margin: 0;
        padding: 4px 0;
        border-bottom: dashed 1px #ddd;
        &:last-child {
            border-bottom-color: transparent;
        }
    }
}

.non-modal .modal-closer{
    display: none;
}

.popover {
    &.no-header {
        .popover-title {
            display: none;
        }
    }
    &.error-popover {
        .popover-inner {
            background-color: @errorBackground;
            border: solid 1px @errorBorder;
        }
        .popover-content {
            background-color: @errorBackground;
            color: @errorText;
        }
    }
}

div {
    > ul.container-flags{
        float:right;
        display: inline-block;
        overflow: hidden;
        >.flag{
            float:right;
            margin: 0 1px;
            padding: 0;
            width: 18px;
            height: 20px;
        }

        >.flag.maprole-CREATOR {
            background: transparent url(../img/sprites/maproleflags.png) no-repeat -18px 0;
        }
    }
}

.map-title {
    > h4 {
        line-height: 20px;
    }
}