body {
     font-family: Arial,sans-serif;
     background: white;
}

a,
a:visited {
    text-decoration: underline;
    color: #555;
    cursor:pointer;
    &:hover,
    &:focus {
        color: #000;
    }
}

.fancybox-wrap {
    top: 0 !important;
    .fancybox-close {
        display: none !important;
    }
}

#brandBar {
    position: relative;
    width: 250px;
    margin-left: 5px;
    text-align: center;
    a.brand-logo {
        font-family: Verdana;
        display: inline-block;
        /*background: transparent url(../img/logo-32x32.png) 3px center no-repeat;*/
        line-height: 38px;
        font-size: 20px;
        color: #bbb;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 1px 1px 2px #111;
    }
}

#accountBar {
    position: relative;
    width: 250px;
    margin-left: 5px;
    text-align: center;
    >h3 {
        font-size: 12px;
        line-height: 14px;
        color: #696969;
    }
    >p {
        font-size: 12px;
        line-height: 14px;
        color: #696969;
        a {
            font-style: italic;
        }
    }
    &.logged-true {
        >.account-name {
            a {
                padding: 4px;
                font-size: 12px;
                text-decoration:none;
                box-shadow: 0 0 2px #DDD;
                border-radius: 3px;
                > img {
                    position: relative;
                    top: 4px;
                }
                > span {
                    padding-left: 4px;
                }
                &:hover,
                &:focus {
                    background: #F9F9F9;
                }
            }
        }
        >.account-menu {
            margin-top: 4px;
        }
    }
}

.small-modal-dialog {
    width: 400px;
    background:white;
    border-radius: 0 0 5px 5px;
    >h1 {
        color: white;
        text-shadow: -1px 1px 1px rgba(55, 55, 55, 0.8);
        padding: 10px 10px 5px;
        background: #4682B4;
        >.notice {
            display: block;
            font-size: 12px;
            line-height: 20px;
            text-align: right;
            padding: 5px 10px;
            a,
            a:visited,
            a:hover,
            a:focus {
                color: white;
            }
        }
     }
     > p.notice {
        padding: 5px 10px;
        font-size: @baseFontSize * .8;
        line-height: @baseLineHeight * .8;
        margin-bottom: 0;
        text-align: center;
     }
     >div {
        padding: 0 10px 10px;
        >form {
            margin-bottom:0;
            margin-top: 10px;
            >.control-group{
                padding-bottom: 5px;
                margin: 0 auto;
                width: 250px;
                input {
                    width: 90%;
                }
            }
            >.alert {
                margin-bottom: 0;
                margin-top: 5px;
                >ul {
                    margin-bottom: 0;
                }
            }
            .submit-option {
                margin-left: 5px;
            }
            >.alert-progress {
                display: none;
            }
            &.submit-in-progress {
                >.alert-progress {
                    display: inherit;
                }
                >.submit-group {
                    display: none;
                }
            }
        }
    }
}

#modalLogin {
    >div.by-social {
        background: #F5F5F5;
        border-top: solid 1px #F5F5DC;
        border-radius: 0 0 5px 5px;
        padding-top:10px;
        >.welcome {
            line-height: 26px;
        }
        >ul.auth-list{
            margin:0;
            display:inline;
            margin-left: 3px;
            li {
                display:inline-block;
                margin-left: 3px;
                a {
                    float:none;
                }
            }
        }
    }
}

a.auth-provider-invoke.x26
{
    display: inline-block;
    line-height: 26px;
    width: 26px;
    height: 26px;
    background: transparent url(../img/socials-26.png) no-repeat 26px 26px;
    border: none;
    border-radius: 1px;
    color: transparent;
    &:focus,
    &:hover {
        box-shadow: 0 0 3px rgba(82,168,236,.8);
    }
    &.facebook {
        background-position: 0 0;
    }
    &.twitter {
        background-position: 0 -52px;
    }
    &.google {
        background-position: 0 -26px;
    }
    &.yandex {
        background-position: 0 -78px;
    }
}

#registerForm {
    #recaptchaContainer{
        width: 320px;
        height: 130px;
        margin: 0 auto;
        padding-bottom: 10px;
        p.wait-message {
            width: 100%;
            text-align: center;
            padding-top: 50px;
        }
    }
}
