@import "variables.less";

@sectionHeaderBackground: #eee;
@sectionHeaderColor: #333;
@sectionHeaderFormBackground: #D9EDF7;

@import "bootstrap/mixins.less";
@import "bootstrap/reset.less";
@import "bootstrap/layouts.less";
@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
@import "bootstrap/alerts.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";

.clear {
    float:none;
    clear: both;
}
.hidden {
    display: none;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

a,
a:visited {
    text-decoration: underline;
    color: #555;
    cursor:pointer;
    &:hover,
    &:focus {
        color: #000;
    }
}

input,
button,
select,
textarea {
  background-color: darken(@inputBackground,2%);
}

@import "mixins.less";
@import "icons.less";
@import "menu.less";
@import "layout-single.less";
@import "profile-page.less";
@import "world-title.less";
@import "layout-edit-plain-geometry.less";
