ul.menu-column {
    >li {
        >a,
        >span {
            padding: 3px 15px;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
            display: block;
            color: #0088CC;
            text-decoration: none;
        }
        >a:hover {
            background-color: #eeeeee;
            color: black;
        }
    }
}

ul.line {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    > li {
        float: left;
    }
}