form {
    text-align: left;
}

.form-field {
    margin-bottom: .8em;

    > label {
        display: block;
        font-size: .8em;
        font-weight: 700;
        margin-bottom: .5em;
    }

    > div {
        > input,
        > textarea {
            border: solid 1px #aaa;
            .border-radius(2px);
            font-size: 1em;
            line-height: 1.2em;
            max-width: 100%;
            padding: 5px;
            margin: 0;
        }

        &.full-width-input {
            padding: 6px;
            > input,
            > textarea {
                width: 100%;
                margin-left: -6px;
                margin-top: -6px;
            }
        }
    }

    textarea {
        resize: vertical;
    }
}

label {
    > span.required {
        color: #84CD1C;
        font-weight: bold;
    }
}

a.btn,
button,
input[type=submit] {
    .btn-colorizer(@darkColor: #D6D6D6, @lightColor: #F5F5F5){
        #gradient > .vertical(@lightColor, @darkColor);
        border: outset 1px @lightColor;

        &:focus,
        &:hover {
            #gradient > .vertical(@darkColor, @lightColor);
        }
    }

    .btn-colorizer(#D6D6D6, #F5F5F5);
    .border-radius(3px);
    font-size: 75%;
    font-weight: 700;
    line-height: 1.2em;
    max-width: 100%;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;

    &:active {
        border-style: inset;
    }

    &.lower {
        padding: 2px 5px;
        font-weight: normal;
    }

    &.btn-green {
        .btn-colorizer(#7CBC0A, #9DD53A);
    }
}