body {
    background: #121111 url(../images/body-net.png) repeat-x left top;
}

#topBar {
    float: none;

    > a.brand-logo {
        margin-left: .3em;
        text-decoration: none;
        font-size: 1.6em;
        line-height: 1.6em;
        color: #f0f0f0;
        font-weight: bold;
        position: relative;
        font-stretch: ultra-condensed;
        float: left;

        > span {
            position: absolute;
            width: 100%;
            height: .8em;
            display: block;
            bottom: 0;
            background: transparent url('../images/gradient-v-121111-100-s00-eFF.png') repeat-x top left;
        }
    }

    > #accountBar.logged-false {
        float: left;
        padding-left: .6em;
        padding-top: .5em;
        vertical-align: center;

        .actions {
            text-align: center;
            font-weight: bolder;
            > a {
                display: block;
                color: #fafafa;
                font-size: .7em;
                line-height: 1em;
            }
        }
    }
}

.fancybox-wrap {
    top: 0 !important;
    .fancybox-close {
        display: none !important;
    }
}

.small-modal-dialog {
    @backColor: #FEFFFF;
    @headerBackColor: #58666E;
    width: 500px;
    background: @backColor;
    border-radius: 0 0 5px 5px;

    > h1 {
        margin: 0;
        line-height: 100%;
        color: white;
        text-shadow: -.08em .08em .08em rgba(55, 55, 55, 0.8);
        padding: .3em .3em .2em;
        background: @headerBackColor url(../images/body-net-opaque.png) repeat-x bottom left;

        >.notice {
            display: block;
            font-size: 40%;
            line-height: 100%;
            text-align: right;
            padding: .4em .5em;
            a,
            a:visited,
            a:hover,
            a:focus {
                color: white;
            }
        }
    }
    > div.notice {
        background: @headerBackColor;
        color: white;
        padding: .4em .5em;
        font-size: 80%;
        line-height: 80%;
        margin-bottom: 0;
        text-align: center;
    }
    > div.content {
        border: solid .2em @headerBackColor;
        border-radius: 0 0 5px 5px;

        padding: 0 .5em;
        margin: 0 auto;
        >form {
            margin-bottom: 0;
            margin-top: .7em;
            >.control-group {
                padding-bottom: .4em;
                margin: 0 auto;
                input {
                    width: 50%;
                }
            }
            >.alert {
                margin-bottom: 0;
                margin-top: .4em;
                >ul {
                    margin-bottom: 0;
                }
            }
            .submit-option {
                margin-left: 5px;
            }
            >.alert-progress {
                display: none;
            }
            &.submit-in-progress {
                >.alert-progress {
                    display: inherit;
                }
                >.submit-group {
                    display: none;
                }
            }
        }
    }
}
