@import "bootstrap/mixins.less";
@import "variables.less";
@import "reset.less";
@import "icons.less";
@import "navigation.less";
@import "forms.less";

body {
    background: @bodyBackgroundColor url(../images/dirty_body-light.png) repeat-x center top;
    min-width: 640px;
}

#bodyColumns {
    display: table;
    width: 100%;

    > .content {
        display: table-row;

        > .left,
        >.center,
        >.right {
            display: table-cell;
            width: 30%;
            vertical-align: top;
        }

        >.center {
            width: 40%;
        }
    }
}

div.two-column {
    display: table-row;

    > .left,
    > .right {
        display: table-cell;
    }
}

.one-liner {
    word-break: keep-all;
    white-space: nowrap;
}

.w100p {
    width: 100%;
}

.widget {
    padding-top: .5em;
    > .head {
        font-size: 120%;
        line-height: 120%;
    }
    > .body {
        font-size: 100%;
        line-height: 100%;
    }
}

#userColumn {
    padding: 1em;

    > .user-title {
        > img {
            float: left;
            margin-right: 1em;
            .border-radius(6px);
        }
        > h2 {
            font-size: 100%;
        }
        > .quick-menu {
            font-size: 75%;
            line-height: 100%;
            a {
            }
        }
    }

    > hr {
        margin: 1em 1em .3em 0;
        height: .15em;
        border: none;
        background: transparent url(../images/input-back-shadow-white-a50.png) repeat-x left bottom;
        .box-shadow(0 -1px 1px @inputBorder);
    }
}

.widget {
    > .head {
        .clearfix();

        > h3 {
            font-size: 100%;
            font-weight: bolder;
        }
        > ul.quick-actions {
            list-style: none;
            float: right;

            > li {
                float: right;
                list-style: none;
                font-size: 60%;
                padding: 0 .3em;

                > a {
                }
            }
        }
    }
}