body {
    background: #121111 url(../images/body-net.png) repeat-x left top;
}

#topBar {
    > a.brand-logo {
        text-decoration: none;
        font-size: 1.6em;
        line-height: 1.5em;
        color: #f0f0f0;
        font-weight: bold;
        position: relative;
        font-stretch: ultra-condensed;

        > span {
            position: absolute;
            width: 100%;
            height: .8em;
            display: block;
            bottom: 0;
            background: transparent url('../images/gradient-v-121111-100-s00-eFF.png') repeat-x top left;
        }
    }
}