@import "bootstrap/mixins.less";
@import "variables.less";
@import "reset.less";
@import "navigation.less";
@import "forms.less";

body {
    background: #1E1E1E url(../images/dirty_body.png) repeat-x center top;
    min-width: 640px;
}

#bodyColumns {
    display: table;
    width: 100%;

    > .content {
        display: table-row;

        > .left,
        >.center,
        >.right {
            display: table-cell;
            width: 30%;
            vertical-align: top;
        }

        >.center {
            width: 40%;
        }
    }
}

div.two-column {
    display: table-row;

    > .left,
    > .right {
        display: table-cell;
    }
}

.one-liner {
    word-break: keep-all;
    white-space: nowrap;
}

.w100p {
    width: 100%;
}

.widget {
    padding-top: .5em;
    > .head {
        font-size: 120%;
        line-height: 120%;
        color: white;
    }
    > .body {
        font-size: 100%;
        line-height: 100%;
        color: white;
    }
}

#userColumn {
    color: #fff;
    padding: 1em;

    > .user-title {
        > img {
            float: left;
            margin-right: 1em;
            .border-radius(6px);
            border: solid 1px #333;
        }
        > h2 {
            font-size: 100%;
        }
        > .quick-menu {
            a {
                color: #aaa;
                font-size: 75%;
            }
        }
    }

    > hr {
        margin: 1em 1em 1em 0;
        height: 10px;
        border: none;
        background: transparent url(../images/input-back-shadow-white-a50.png) repeat-x left bottom;
        .box-shadow(0 -1px 1px #333);
    }
}