body {
    padding-top: @navbarHeight + 20px;
    font-size: @baseFontSize;
}

body.login-page {
    .auth-column {
        width: 400px;
        margin: 0 auto;

        > form {
            margin-left: 50px;
            margin-right: 50px;
        }
    }
}

.controls.inline-at-right {
    text-align: right;
}

.navbar {
    .dropdown-toggle img.gravatar.s24 {
        width: 24px;
        height: 24px;
        margin-right: 6px;
        margin-top: -3px;
        margin-bottom: -3px;
    }

    .nav {
        a.switch-navbar-mode {
            color: #699aab;
        }
    }
}
