section {
    padding: 5%;
    text-align: center;
    > a {
        display: block;
        background: transparent url(../images/brand-light.png) no-repeat center center;
        height: 26px;
        width: 146px;
        margin: 0 auto;
        > strong {
            display: none;
        }
    }
}