* {
    padding: 0;
    margin: 0;
}

body {
    font-family: @bodyFontFamily;
    font-size: @bodyFontSize;
    line-height: @bodyLineHeight;
}

a, a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
    &:visited {
        color: lighten(black, 5%);
    }
}

.hidden {
    display: none;
}
