body {
    font-family: @baseFontFamily;
    font-size: @baseFontSize;
    line-height: 1;
    margin: 0;
}

a, a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
    &:visited {
        color: lighten(black, 5%);
    }
}

.hidden {
    display: none;
}

.one-liner {
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.w100p {
    width: 100%;
}

.text-at-end {
    text-align: end;
}
