@sansFontFamily: Arial, Helvetica, sans-serif;
@serifFontFamily: Georgia,"Times New Roman",Times, serif;
@monoFontFamily: Monaco,Menlo, Consolas,"Courier New",monospace;

@bodyFontFamily: @sansFontFamily;
@bodyFontSize: 1em;
@bodyLineHeight: 1.2em;
@bodyTextColor: #111;
@bodyBackgroundColor: #ffffff;

@buttonBackground: #333;
@buttonText: #fffffa;

@buttonGreenBackground: #008748;
@buttonText: #fffffa;

@inputBorder: #ccc;
@inputColor: #111;

@listWidgetBorder: #F1F5FA;