@sansFontFamily: 'Open Sans',sans-serif;
@serifFontFamily: Georgia,"Times New Roman",Times, serif;
@monoFontFamily: Monaco,Menlo, Consolas,"Courier New",monospace;

@captionFontFamily: Arial,'Open Sans Condensed', sans-serif;
@captionColor: #404040;

@bodyMenuZ: 500;

@baseFontFamily: @sansFontFamily;
@baseFontSize: 16px;
@baseTextColor: #9A9A9A;
@baseBackgroundColor: #ffffff;

@buttonBackground: #333;
@buttonText: #fffffa;

@buttonGreenBackground: #008748;
@buttonText: #fffffa;

@inputBorder: #ccc;
@inputColor: #111;

@listWidgetBorder: #F1F5FA;